<html>
  <head><h1>
    <title> Nia's Blog</title>
  </head>
  <body>
    <div>
      <h1><a href="">Nia's Blog</a></h1>
    </div>

    <div>
      <p>publish: 7.13.2017, 2:23</p>
      <h2><a href="">My first post</a></h2>
      <p>Hi I'm Nia!! For seven weeks I will be working with girls who code.</p>
      <p>I have enjoyed myself for the past few weeks with girls who code.</p>
    </div>

    <div>
        <p>published: 7.13.2017, 2:23</p>
        <h2><a href="">My second post</a></h2>
        <p>I need money. I am a broke little girl who needs a job and money</p>
        <p>I want to make millions of money so I can buy whatever I want to buy</p>
    </div>
  </body>
</html>
